.button {
    width: 100%;

    height: 100%;
    float: middle;
    background: white;
    color: black;

    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;

    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;

    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}