#pageForm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 100%;
}

#contentBox {
	background-color: #FFFFFF;
	width: 85%;
	height: 60%;
	font-family: 'Baskerville Old Face';
	padding: 10px;
}

#headerText {
	align-self: center;
	padding: 5px;
}

#flexedDisplay {
	display: flex;
}