body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 5px;
}
.top{
    background-color: azure;
    border-style: solid;
    border-width: 1px 4px 12px 4px;
    border-color: black;
    height: 140pt; 
}

.login{

    border-color:  black;
    border: solid;
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin: 1% auto;
}
.one{
    padding: 20px;
}
.username{
    margin: 0% auto;
}
.name{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100pt;
    padding-left: 10px;
    
}
img{
   position: relative;
   padding-left: -15%; 
}
tr{
    position: fixed;
    top: 125pt;
    left: 15%;
}
.th{
    word-spacing: 20px;
}
.signup{
    border-color:  black;
    border: solid;
    height: 300px;
    width: 600px;
    background-color: aqua;
    margin: 1% auto;
}




